
<%= simple_form_for @event, remote: true do |f| %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :date_range, readonly:true, input_html: { class: "form-control input-sm date-range-picker" } %>
      <%= f.input_field :start, as: :hidden, class: 'form-control input-sm start_hidden' %>
      <%= f.input_field :end, as: :hidden, class: 'form-control input-sm end_hidden' %>
      <%= f.input :color, as: :select, collection: [['Dildoes','black'], ['Green','green'], ['Red','red'], ['Blue','blue'], ['Purple','purple']] %>

      <%= f.input :phone %>
      <%= f.input :street %>
      <%= f.input :city %>
      <%= f.input :state %>
      <%= f.input :zip %>
  </div>
  
  
  
  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Delete', 
                event, 
                method: :delete, 
                class: 'btn btn-danger', 
                data: { confirm: 'Are you sure?' }, 
                remote: true unless @event.new_record? %>
  </div>
<% end %>
