<!DOCTYPE html>
<html>
  <head>
    <title>Dump</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand">Rock Lobster</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
          <a href="/users/sign_in">
            <button class="btn btn-success navbar-btn">
             Login In
            </button>
          </a>
          <a href="/users/sign_up">
            <button class="btn btn-default">
             Sign Up
            </button>
          </a>
    </nav>
    
    
    
    
    
    
    
    <%= yield %>
  </body>
</html>
