<!DOCTYPE html>
<html>
  <head>
    <title>Dump</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <%= link_to "Rock Lobster", root_path, class: "btn btn-info navbar-btn" %>
        
        <!–– Search button ––>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <!–– Right side button ––>
        <div class="nav navbar-nav navbar-right">

          <% if user_signed_in? %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-warning navbar-btn" %>
              <% else %>
            <%= link_to "Log In", new_user_session_path, class: "btn btn-success navbar-btn" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-info navbar-btn" %>
            <% end %>
        </div>
    </nav>
    

    
    <%= yield %>
</body>
</html>
